.main-color {
  background-color:#62B0E3;
  color:#ffffff;
}

.main-color a:link {
  color:#ffffff
}

.main-color a:active {
  color:#ffffff
}

.main-color a:visited {
  color:#ffffff
}

.bg-image{
  background-image: url('/images/background.png');
  height: 500px;
}

.bg-img {
  background-color: #62B0E3;
  padding-top:0px;
  margin-top: 0px;
  height: 500px
}

.center {
  margin: 0 auto;
}
.text-skyBlue {
  color:#62B0E3;
}
 
.text-grey {
  color: #707070;
}

.background-light-grey {
  background-color: #DCDCDC;
}

.bg-story {
  background-image: url('/images/story.png');
  height: 1200px;
}

.text-orange {
  color: #FF7F45 !important;
}

.text-white {
  color: #FF7F45 !important;
}

.boder-right {
  border-right: 1px solid #707070;
}

.border-down {
  border: none;
}

.sponsor {
  background-color: #707070;
  color:#ffffff;
}

.orange-border {
  border-bottom: 3px solid #FF7F45;
  width: 5%;
}
.bold {
  font-weight: bold;
}

.modal-backdrop {
  z-index: -1;
}

.flex-container {
  display: flex;
}

.flex-sidebar {
  flex-grow: 1;
  background-color: #404F54;
  height: 100vh;
}

.flex-body {
  flex-grow: 3;
  padding: 5em;
}

/*** Courses  ***/
.course-background {
  height: 300px;
  background-image: linear-gradient(to right bottom, #569BC7, #E16F3C);
}

.course-background h1 {
  color: #ffffff;
  text-align: center;
  padding-top: 20px;
}

.course-background h3 {
  color: #ffffff;
  text-align: center;
  padding-top: 20px;
}
